doctype html
html
  head 
    title Taal taarang
    block scripts
    block style 
  body
    nav#navbar.top
     
     ul 
      div#logo
             img(src="/static/image/Capture2.PNG")
            

      li #[a(href="/") Home ]
      li #[a(href="/") About us ]
      li #[a(href="/") Dance courses] 
      li #[a(href="/") Career]
      li #[a(href="/Resgister") Resgister]
    block content
    section#FooterSection 
      | Copyrights © 2023 ujjwal kumar gupta |All Rights Are Reserved   